/*Base Styling*/
body, html, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    line-height: 1.2;
}

/*Color Classes*/
.font-color-black{
    color: #000;
}

.font-color-white{
    color: #fff;
}

.font-color-gray{
    color: rgba(0,0,0,0.5);
}
/*Main*/
.main-wrapper{
    position: relative;
    height: 100vh;
}

/*Header*/
.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #87D37C;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    height: 60px;
    padding: 10px 20px;
    clear: both;
}



.title{
    font-size: 20px;
    font-weight: 300;
}

.subtitle{
    font-size: 12px;
}

.content-pane{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    clear: both;
}

.image-holder,.comments-holder{
    float: left;
}

/*Image*/
.image-holder{
    width: 75%;
    background: rgba(0,0,0,0.1);
    position: relative;
}

.image-holder .image,.image-overlay{
    width: 100%;
}

.image-holder .image-overlay{
    position: absolute;
    height: 100%;
    background: rgba(0,0,0,0.03);
    z-index: 1;
}

/*Annotation*/
.image-overlay .annotation-dot{
    box-sizing: content-box; /* This explicit override of global border box setting is mandatory*/
    position: absolute;
    width: 1.3vw;
    height: 1.3vw;
    min-height: 8px;
    min-width: 8px;
    max-height: 24px;
    max-width: 24px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    background: royalblue;
}
.no-display{
    display: none;
}

.annotation-box{
    z-index: 2;
    position: absolute;
    top: 22px;
    left: 22px;
    width: 200px;
    height: auto;
    min-height: 150px;
    border-radius: 5px;
    border: 1px solid gray;
    background: white;
    padding: 10px;
}

.annotation-box .annotation-input{
    min-height:105px;
    padding: 5px;
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 5px;
    font-size: 14px;
    outline: 0;
    border-radius: 5px;
}
.annotation-box .annotation-input.placeholder-visible{
    color: rgba(0,0,0,0.1);
    font-style: italic;
}
.annotation-box .action-pane{
    padding: 5px;
    text-align: right;
}

.inline-button{
    font-size: 12px;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.inline-button.positive{
    color: royalblue;
}

.inline-button.negative{
    color: gray;
}

.comments-holder{
    box-sizing: border-box;
    padding: 15px;
    width: 25%;
    background: white;
}

.comments-holder .title{
    font-size: 16px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}



.comments-holder .comment{
    cursor: pointer;
    padding: 10px;
}

.comments-holder .comment:hover{
    background: rgba(135,211,124,0.1);
}

.comment{
    font-size: 12px;
    color: #676767;
    padding: 10px 0;
    overflow-x: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.03);
}

.comment .date{
    padding: 5px 0;
    font-size: 10px;
    text-align: right;
    color: #b2b2b3;
}